.center {
	float: none;
	margin-right: auto;
	margin-left: auto;
}

#console {
	background-color: black;
	font-family: courier, monospace;
	color: grey;
	margin-top:100px;
	font-size:14px;
	padding: 10px;
}

body {
	background-color: black;
}

.form-control {
	background-color: #black;
}

